
#top_banner {
 width:100% !important;
 margin: 0px 0px 5px 0px !important;  
    
}    
.jumbotron {
    /* height: 200px; */
    /* background-image: url("../images/jt2.jpg"); */
    color: #fff;
    background-color: rgba(248, 243, 85, 0);
    opacity: .7;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 0px;
    /* margin-right:auto; */
    /* margin-bottom: auto; */
    width: 85%;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .btn {
    width:275px;
    padding:15px;
  
  }
  .main-button-container {
    margin-top: 0px;
    max-width: 450px;
    margin-left: auto;
    /* margin-right: auto; */
  }
  #mainArea {
    margin-top:10px;
    max-width: 75%;
    margin-left: auto;
    margin-right:auto;
    color: #fff;
    font-size: 2em;
    
  }
  .timer-p {
    margin-top: 10px;
  }
  
  .answer:hover {
    background:rgb(126, 125, 125);
  }

  p {
    font-size: 24px;
    font-weight: 500;
  }
  .answer {
    /* padding-top: 7px; */
    height: 85px;
    color: black;
    padding-top: 25px;
    padding-left:15px;
    padding-right:10px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 4px;
    opacity: .7;

  }
  #squad{
margin-right:10px !important;
width:100% !important;
  }

  img {
    margin-top: 10px;
    width:75%;
    
  }
  .quest-img {
    width:75%;
    height:auto;
    margin-top: 10px;
  }
  .img-wrong {
    margin-top: 10px;
    width:75%;
    
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    background-image: url("../images/bg.png");
    background-repeat: cover;
    background-size: 100%;
    color: white;
    font-size: 23px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }



@media screen and (max-width: 768px) {
  .answer {
    margin-bottom:30px;

  }
  #mainArea {
    margin-top:10px;
    max-width: 65%;
    margin-left: .2em;
    margin-right:.2em;
}