
.start-button, .btn-warning {
    background-color:#FEBF3B;
}

#top_banner {
 width:100% !important;
 margin: 0px 0px 5px 0px !important;  
    
}    
.jumbotron {
    /* height: 200px; */
    /* background-image: url("../images/jt2.jpg"); */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(248, 243, 85, 0);
    opacity: .7;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 0px;
    /* margin-right:auto; */
    /* margin-bottom: auto; */
    width: 85%;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .btn {
    width:275px;
    font-family: 'Montserrat', sans-serif;
    padding:15px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'montserrat';
  
  }
  .main-button-container {
    margin-top: 0px;
    max-width: 450px;
    margin-left: auto;
    /* margin-right: auto; */
  }
  #mainArea {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .025em;
    width:600px;
    margin-top:10px;
    margin-bottom:100px !important;
    max-width: 100%;
    margin-left: auto;
    margin-right:auto;
    color: #fff;
    font-size: 2em;
    
  }
  .timer-p {
    margin-top: 10px;
  }
  
  .answer:hover {
    background:#FEBF3B;
  }

  p {
    font-size: 24px;
    font-weight: 500;
  }

  .answer {
    /* padding-top: 7px; */
    height: auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-top: 25px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 4px;
    opacity: .7;

  }

#squad{
    margin-right:10px !important;
    width:100% !important;
  }

  img {
    margin-top: 10px;
    width:100%;
    
  }
  .quest-img {
    size: 75%;
    margin-top: 30px;
    
  }
  .img-wrong {
    margin-top: 10px;
    width:100%;
    
    
  }
  img.curl-corner {
      border-radius:10px;
  }

  .first-answer {
    margin-top: 30px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    background-image: url("../images/bg.png");
    background-repeat: cover;
    background-size: 100%;
    color: white;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
  }



@media screen and (max-width: 768px) {
  .answer {
    margin-bottom:30px;
    padding:10px;
    margin-left: .3em;
    margin-right:.23em;
  }
  #mainArea {
    margin-top:30px;
    margin-left: .3em;
    margin-right:.3em;
    margin-bottom:40px;
}
img {
    margin-top: 30px;
    height:75%
  }
  
  img.curl-corner {
      border-radius:10px;
      height:75%;
  }
  .main-button-container{
      width:auto;
  }
}